@import "../../shared/variables.scss";

.cuadro-azulejo {
    width: 220px;
    height: 150px;

    user-select: none;
    -webkit-user-drag: none;

    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    border: 1px solid $primary-color;
    border-left: 5px solid $primary-color;
    border-radius: $border-radius-2;
    color: $text-primary-color;
    font-size: $text-bigger;
    font-weight: bold;
    text-align: center;
    line-height: 1.1em;

    &.centrado {
      margin: auto;
    }

    .total {
      
    }
    
}
