
  #myGrid {
    flex: 1 1 0px;
  }

  .acelerador{
    // vertical-align: middle;
    // overflow-x: hidden !important;
    text-align: center;
    width: 200px; 
    height: 100px;
    margin-right: 20px;
    margin-top: 20px;
    display: table-cell;
    vertical-align: middle;
  }