<mat-toolbar color="primary" style="text-align: center;">
  <div style="margin-left: 30%;"></div>
  <!-- <span class="flexExpand"></span> -->
  <div>
    <p >Gestión de comunicaciones de correo electrónico</p>
  </div>
</mat-toolbar>
<div style="text-align: center;">
    <button mat-raised-button color="primary"
        class="acelerador"
        (click)="activarDetallePendientes()">
          Solicitudes Email ({{numSolicitudes}})
        </button>         
</div>

<div style="text-align: center;"
    *ngIf="mostrarDetallePendientes==true">
    <!-- <button mat-raised-button color="primary" 
        class="acelerador">
          Solicitudes aprobadas (0)
        </button>         

    <button mat-raised-button color="primary" 
        class="acelerador">
          Solicitudes rechazadas (0)
        </button>          -->

    <button mat-raised-button color="primary" 
        class="acelerador"
        (click)="mostrarTablaPendientes()">
          Solicitudes pendientes ({{numSolPendientes}})
        </button>         
  
</div>

















<!-- <h2>Cuadro de mando</h2> -->

<!-- <ag-grid-angular
    style="width: 100%; height: 450px"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
>
</ag-grid-angular> -->

<!-- 
<ag-grid-angular
    #agGrid
    style="width: 100%; height: 100%;"
    id="myGrid"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>  -->
