<mat-icon class="close-icon" [mat-dialog-close]="true" class="dialog-actas-close">close</mat-icon>

<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{data.titulo}}</h1>
<div mat-dialog-content>
    <table mat-table class="mat-elevation-z8 cuadro-listado-actas color-primary w100" [dataSource]="data.listadoActas">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
    
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">{{element.estado}}</td>
        </ng-container>

        <ng-container matColumnDef="naturaleza">
            <th mat-header-cell *matHeaderCellDef>Naturaleza</th>
            <td mat-cell *matCellDef="let element">{{element.naturaleza}}</td>
        </ng-container>
    
        <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
            <td mat-cell *matCellDef="let element">{{element.fechaCreacion}}</td>
        </ng-container>
    
        <ng-container matColumnDef="actuantes">
            <th mat-header-cell *matHeaderCellDef>Actuantes</th>
            <td mat-cell *matCellDef="let element">{{element.actuantes}}</td>
        </ng-container>
    
        <ng-container matColumnDef="usuarioCreacion">
            <th mat-header-cell *matHeaderCellDef>Usuario de Creación</th>
            <td mat-cell *matCellDef="let element">{{element.usuarioCreacion}}</td>
        </ng-container>
    
        <ng-container matColumnDef="provincia">
            <th mat-header-cell *matHeaderCellDef>Provincia</th>
            <td mat-cell *matCellDef="let element">{{element.provincia}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>