.container {
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  .centerFloatLabel{
    display: inline-block;
    text-align: start;
  }

  .title,
  .subtitle,
  .message {
    text-align: center;
  }
  .title {
    color: #391280;
  }

  .W450{
    width: 450px;
  }

  .W550{
    width: 550px;
  }

  .H80{
    height: 80px;
  }

.flexExpand {
    flex: 1 1 auto;
}