<div class="container" id="para">
  <form
    novalidate
    [formGroup]="nuevaNotCEForm"
    #myForm="ngForm"
    *ngIf="nuevaNotCEForm"
  >
    <mat-toolbar color="primary">
      <mat-toolbar-row>  
        <div >
          <a mat-button (click)="changeFont('+')">A+</a>
          <a mat-button (click)="changeFont('-')">A-</a>
        </div>
        <span class="flexExpand"></span>
        <div >
          <a mat-button [ngClass]="{'active': activeLang == 'es'}" 
             (click)="cambiarLenguaje('es')">
             <span class="flag-icon flag-icon-es"></span>
          </a>
          <a mat-button [ngClass]="{'active': activeLang == 'ca'}" 
          (click)="cambiarLenguaje('ca')">
            <span class="flag-icon flag-icon-es-ca"></span>
          </a>
          <a mat-button [ngClass]="{'active': activeLang == 'ga'}" 
          (click)="cambiarLenguaje('ga')">
            <span class="flag-icon flag-icon-es-ga"></span>
          </a>
          <a mat-button [ngClass]="{'active': activeLang == 'en'}" 
          (click)="cambiarLenguaje('en')">
            <span class="flag-icon flag-icon-gb"></span>
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="title">
      <h2>{{'label.titulo' | translate}} </h2>
    </div>
   
    <div>
      <mat-form-field appearance="fill" class="W450">
        <mat-label>{{'label.provincia' | translate}}</mat-label>
        <mat-select formControlName="codigoProvincia">
          <mat-option *ngFor="let selectedProv of provincias" [value]="selectedProv.codigoProvincia">
            {{selectedProv.descripcionProvincia}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
   
    <div>
      <mat-form-field appearance="fill" class="W450">
        <mat-label>{{'label.os' | translate}}</mat-label>
        <input matInput formControlName="codigoOS">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="W450">
        <mat-label>{{'label.fecha.diligencia' | translate}}</mat-label>
        <input matInput [matDatepicker]="picker"
        formControlName="fechaDiligencia">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="W450">
        <mat-label>{{'label.nif.empresa' | translate}}</mat-label>
        <input matInput formControlName="nifEmpresa" [mask]="nifMask">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="W450">
        <mat-label>{{'label.email' | translate}}</mat-label>
        <input matInput formControlName="correoElectronico" >
      </mat-form-field>
    </div>

    <div style="margin-top: 40px;">
      <button mat-raised-button color="primary"
     
      type="button"
      (click)="guardarNotificacionCE()">
        {{'label.enviar' | translate}}
      </button>
    </div>
  </form>
</div>