//Colores principales
$primary-color: coral;
$text-primary-color: #000000;

$secondary-color: rgba(245, 142,6,1);
$text-secondary-color: #000000;

$content-color: #FFFFFF;
$text-content-color: #000000;

//Tamaños de letra
$text-smaller: 8px;
$text-small: 11px;
$text-medium: 14px;
$text-big: 18px;
$text-bigger: 24px;

$text-title-main: 24px;
$text-title-secondary: 22px;
$text-title-sub: 18px;

//Border-radios
$border-radius-1: 3px;
$border-radius-2: 5px;
$border-radius-3: 8px;